Package: com.3xtc.adblocker
Name: Adblocker TapMediaLtd
Author: ɛvɪɗɛηт
Description: Adblocker Pro TapMediaLtd
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.16)
Maintainer: 3xtc
Architecture: iphoneos-arm
Section: Tweaks
Version: 2.6.7
Installed-Size: 752
